<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
	<div class="container">
		<a class="navbar-brand" href="{{path('app_home')}}">Musicterest</a>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ms-auto mb-2 mb-sm-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{path('app_songs_create')}}">New Music</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#">Account</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
