@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'shared/variables';

html,
body {
    font-family: $primary-font, sans-serif;
}

.vich-image .form-check {
    @extend .mt-3;
}

.vich-image img {
    @extend .mb-2;
    @extend .rounded;
    @extend .shadow;
    @extend .img-thumbnail;
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success {
        background-color: #A1E5AB;
    }

    &.alert-error {
        background-color: #BA1200;
    }

    &.alert-info {
        background-color: #4D7EA8;
    }
}

.song {
    background-color: #121212;
}

.song img {
    transition: transform 0.3s ease-out;

    &:hover {
        transform: scale(1.075);
    }
}