{% extends 'layouts/base.html.twig' %}

{% block title %}
	New Music
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Add New Music</h1>

			{{ form_start(songAddForm) }}
			{{ form_widget(songAddForm) }}
			<div class="d-grid gap-2">
				<input type="submit" class="btn btn-dark" value="Add a new music" formnovalidate>
			</div>
			{{ form_end(songAddForm) }}
		</div>
	</div>
{% endblock %}
