{% extends 'layouts/base.html.twig' %}

{% block title %}Musicterest
{% endblock %}

{% block body %}
	<h1>{{ songs|length }}
		Musics</h1>

	{% for song in songs %}
		<article>
			<h2>
				<a href="{{ path('app_songs_show', {id:song.id})}}">{{ song.title ~ " - " ~ song.artist}}</a>
			</h2>
		</article>
	{% endfor %}
{% endblock %}
